# 忽略特定的文件夹
data/
dataset/
imgs/
Thesis/
model/
code/
AI-Guide-and-Demos-zh_CN-master/
extract-dialogue-master/
__pycache__/
logs/
CLIP/

# 忽略jupyter notebook检查点
.ipynb_checkpoints/

# 数据文件
*.json
*.csv
*.h5
*.npy
*.npz
*.pkl
*.joblib
*.env
*.pt
*.mp4

# 环境相关
.env
venv/
.env/
cache/

# agent文件
GEMINI.md
AGENT.md
